/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.loacationPre select option:nth-child(1), .loacationPre select  option:nth-child(8){
    font-weight: 900;
}
.search-row h1{
    color: #000!important;
}
.fl-content header > h1{
    color: #000!important;
}
.choose-trim h3{
    text-align: center!important;
}
.headerDisInline > .fl-col-content{
	display: flex;
    flex-direction: row;
}

.search-row .product-grid.btn-grey h4{
    font-size: 12px!important;
	color: #909090!important;
    font-weight: 600!important;
}
.product-plp-grid .product-grid.btn-grey > .fl-button:hover {
    background-color: #000!important;
    color: #fff!important;
}
.widget_meta{
	display: none!important;
}
.gfield_checkbox input[type=checkbox]{
	margin-top: 0px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}

.ui-datepicker-title .ui-datepicker-month, .ui-datepicker-title .ui-datepicker-year{
	color: #000!important;
}
form .gfield{
	padding-right: 15px!important;
}
form .gfield.timeEstimate input[type=text], form .gfield.timeEstimate select{
	    padding: 15px 4px!important;
}
.gform_wrapper .gfield_time_hour {
    max-width: calc(4rem + 2rem);
}
.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    min-width: 6rem!important;
}

.fl-post .fl-post-image-beside {
	width: 100%!important;
}
.gform_wrapper .gfield_time_ampm select{
	
	max-width: 100%!important;
	min-width: 6rem!important;
    width: 100%!important;
}
.gform_wrapper .gfield_time_ampm {
        max-width: 70px!important;
}
.fl-content-slider .fl-slide .fl-slide-content {
	padding: 0px!important;
}
.homepageslider .fl-slide .fl-slide-text > p:nth-child(1) {
	margin: 0px!important;
}
.header_btn a{
	padding: 5px 10px!important;	
}

.locationDetails .storename p, .locationDetails .storename, .locationDetails p {
	margin: 0px!important;
	padding: 0px!important;
}
.locationDetails .address a{
    color: #000!important;
    font-size: 18px!important;
}
.locationDetails .phone a span:before{
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
    margin-left: 2px!important;
}
.locationDetails .direction a{
    border-radius: 0px!important;
    transition: all 0.4s;
}
.locationDetails .direction a:hover{
    background-color: #000!important;
}
.locationDetails .store-opening-hrs li {
    position: relative;
}

.locationDetails ul.store-opening-hrs li > span {
    position: absolute;
    right: 0;
    font-weight: 700!important;
    color: #000;
}

.locationDetails .inlineHourse p, .locationDetails .inlineHourse .storename{
	display: inline-block!important;
}
/* TOGGLE BOX BOTTOM */


.locationDetailsTwo{

}
.locationDetailsTwo .storename p, .locationDetails .storename, .locationDetails p {
	margin: 0px!important;
	padding: 0px!important;
}
.locationDetailsTwo .address a{
    color: #000!important;
    font-size: 18px!important;
}
.locationDetailsTwo .phone a span:before{
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px!important;
}
.locationDetailsTwo .direction > a{
    border-radius: 0px!important;
    transition: all 0.4s;
    background: transparent!important;
    color: #00529b!important;
    font-weight: 700;
    font-size: 15px;
    border: none!important;
    padding: 0px!important;
}
.locationDetailsTwo .direction a:span{
    color: #00529b!important;
}
.locationDetailsTwo .direction a:after{
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-left: 5px!important;
}

.locationDetailsTwo .direction a.fl-button *, .locationDetailsTwo .direction a.fl-button:visited *{
    color: #00529b!important;
}
/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    display: none;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 100% ;
    /* display: none; */
    /* margin-bottom: -103px; */
}
.fr_toggle_box.active .box_content {
    top: auto;
}
.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white !important;
    color: #cc252a !important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}
.fr_toggle_box .text p {
    margin-top: 10px;
}
.special-post-list .uabb-blog-posts-grid .wp-post-image{
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
}
.gfield .gfield_time_hour > i{
		margin-top: -3px!important;
	}
.minHundre .fl-row-content{
		    min-width: 100%;
	}
#responsive-menu .menu-item a{
    line-height: 40px!important;
}
@media(min-width: 1300px){
	header ul#menu-main-menu{
	display: flex;
    justify-content: space-between;
}
}
@media only screen and (min-width: 641px){
.gform_wrapper textarea.large {
    height: 170px!important;
    width: 100%;
}	
}

@media(min-width: 768px) and (max-width: 1024px) {
	.IpadFont h3{
		font-size: 28px!important;
	}
 .fontIssueonLand .fl-col-content{
        padding: 60px 20px!important;
    }
    .fontIssueonLand .fl-col-content h3.uabb-infobox-title {
        font-size: 20px!important;
    }
.ipadMar > .fl-col-content{
	padding: 20px!important;
}
}
@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}
@media(max-width: 768px) {
	.max-width-issuefour{
		max-width: 400px!important;
		width: 100%;
		margin: 0 auto!important;
	}
.fr_toggle_box.active .box_content {
    top: 120px;
}
.fr_toggle_box.active .box_content .padding{
    overflow: scroll;
    max-height: 100%;
}
#responsive-menu-wrapper li a {
        line-height: normal!important;
    }
.store-opening-hrs{
        padding-left: 10px;
    }
.locationDetails ul.store-opening-hrs li > span {
    right: auto;
    left: 150px;
}
.fr_toggle_box .uabb-post-grid-4 .uabb-blog-posts-col-4 {
    width: 50%!important;
}

}
@media(max-width: 500px) {
	form .gform_footer{
    padding-right: 15px!important;
}
	.gform_wrapper .gfield_checkbox li input, .gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio] {
    vertical-align: top!important;
}
 .fr_toggle_box .uabb-post-grid-4 .uabb-blog-posts-col-4 {
    width: 100%!important;
}
/*.fr_toggle_box .padding .uabb-post-grid-4{
 	overflow: auto;
 	height: 300px;   
 }

.fr_toggle_box .padding{
	padding-top: 20px;
} */
}